*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Search Section */

.search-section{
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.title > a{
    text-decoration: none;
    color: rgb(141, 136, 136);
}


.search-bar{
    display: flex;
    gap: 20px;
}

#text-search , #submit-search{
    border: 1px solid #333;
    padding: 5px;
    border-radius: 5px;
}

/* main section */

.main-container-1{
    display: flex;
    margin: 10px;
    min-height: 100vh; 
    color: #333;  
}

/* Genre Section */

.genres-section{
    width: 10%;
    border: 1px solid #333;
}

.genres-section > h1{
    padding: 10px;
}

.genres-section > ul{
    list-style-type: none;
}

.genres-section > ul > li{
    padding: 5px;
    cursor: pointer;
}

/* Movie List Section */

#movie-list-section{
    width: 90%;
    border: 1px solid #333;
}

#mv-list-title{
    padding: 5px;
    margin: 0 30px;
}

#card-section{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 30px;
}

.movie-container{
    border: 1px solid #333;
    width: 23%;
    height: 350px;
    margin: 0 20px 20px 0;
}

.movie-container > img{
    width: 100%;
    height: 85%;
}

.movie-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info{
    display: flex;
    justify-content: space-between;
}


/* Payment File Css */

.main-container-2{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
}

/* Heading Section */

#heading-section{
    display: flex;
    gap: 42%;
}

#back-btn{
    border: 2px solid black;
    padding: 5px;
}

#checkout-title{
    font-size: 25px;
}


#sub-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    gap: 30px;
}


#ticket-card{
    border: 1px solid #333;
    padding: 10px;
    height: 250px;
    width: 30%;
}

.sum-title{
    margin-bottom: 5px;
    font-size: 35px;
}


#cost-section ,#c-fee-section ,#total-section ,#count-section{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

#count-section > input{
    border: 1px solid rgb(156, 153, 153);
}

#ticket-card > hr{
    border: 1px solid rgb(182, 173, 173);
}

#payment-card{
    border: 1px solid #333;
    padding: 10px;
    height: auto;
    width: 60%;
}

.pay-title{
    font-size: 35px;
}

#first-name ,#last-name ,#email{
    border: 1px solid rgb(156, 153, 153);
    border-radius: 3px;
    padding: 5px;
    margin: 15px 0;
    width: 220px;
}

#payment-details{
    margin-top: 15px;
}

#payment-card >  hr{
    border: 1px solid rgb(182, 173, 173);
}

#name-on-card ,#credit-card-num ,#exp-date ,#cvv-num{
    border: 1px solid rgb(220, 209, 209);
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;  
}

#info{
    color: rgb(182, 173, 173);
    margin-bottom: 5px;
}

#pay-btn{
    background-color: rgb(8, 88, 235);
    color: white;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
}


/* modal layout */

.modal-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

.modal-card{
    width: 40%;
    height: 60vh;
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.img-section {
    width: 30%;
    height: 100%;
    margin: 0 10px;
}

.img-section img{
    width: 100%;
    height: 70%;
}

.description-section{
    display: flex;
    align-items: flex-start;
    width: 70%;
}

.description-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 95%;
    height: 100%;
    font-size: 20px;
}

.book-tickets-btn{
    width: 40%;
    padding: 8px;
    border: 2px solid black;
    cursor: pointer;
}

.modal-close-btn{
    background-color: transparent;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
}
